#ai-nexus{

position:fixed;

right:30px;

bottom:30px;

z-index:9999;

}



#ai-toggle{

width:80px;

height:80px;

border-radius:50%;

background:
linear-gradient(
135deg,
#ffd700,
#4b0082
);


color:white;

border:none;

cursor:pointer;

font-size:20px;

box-shadow:
0 0 30px gold;

}



#ai-panel{

display:none;

width:330px;

background:#111;

color:white;

padding:20px;

border-radius:20px;

box-shadow:
0 0 40px rgba(255,215,0,.5);

}



#ai-panel input{

width:90%;

padding:12px;

margin-top:15px;

}



#ai-panel button{

padding:10px;

cursor:pointer;

}
